<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>🚘 Car List</h3>
    <a href="/ui/cars/create" class="btn btn-primary">
      ➕ Add Car
    </a>
  </div>

  <div class="card card-custom">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% cars.forEach(car => { %>
          <tr>
            <td><%= car.model %></td>
            <td><%= car.brand %></td>
            <td>$<%= car.pricePerDay %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
